<h3>Chart 1: A map about dots </h3>
<p>
  <p>Data is in <code>world.topojson</code> and <code>world-cities.csv</code></p>
</p>
<div id="chart-1">
</div>

<script src="scripts/homework-17/01-map.js"></script>
