<div class="story-body">
    <p>Madhya Pradesh, India's largest state in area, had highest infant mortality rate in 2016. It is among the states with low literacy rate in India and is among the states with low healthcare expenditure per capita in 2016. The states that follow Madhya Pradesh in terms of high infant mortality rate have similar story. </p>

    <p>Sixteen states have infant mortality rate above the nationwide mean of 24. Madhya Pradesh is topping the list with 47 deaths per 1000 live births. Odisha, Assam, Uttar Pradesh, Rajasthan also have high infant mortality rates. These States have high rural population. It is surprising particularly because these States together send nearly half of the members to the parliament.</p>



</div>