<div class="story-body">
    <h2> Judge appointments to U.S. Court of Appeals</h2>

    <p>Although Trump didn't send more judges to the district courts, he did send the highest number of judges to Court of Appeals. </p>

    <div id="courtbars1"></div>

    <p>Experts say having more conservative judges than democratic judges will have a greater impact on the U.S. judicial system. Court of Appeals has powers in terms of making changes to the laws of the land and has the power to overturn judgments by district courts.

    </p>


    
</div>