<div class="story-body">
    <p>Critics and pundits have been alleging the Republican Party of making the United States Judicial System conservative.</p>

    <p>An analysis of data on the United States Courts website shows that it is not true. Democrats appointed a higher number of judges to the U.S. district courts than Republicans since 1989 when George Bush was elected president.</p>

    <p>Data shows that the number of judges appointed to district courts by President Donald Trump is lesser than judges appointed by former President Barack Obama in equal time periods. In fact, Donald Trump put the second least number of judges on the Supreme Court during his time in office since 1989.

    </p>
</div>

<div class="story-body">
    <h2> Number of judges appointed since 1989</h2>
   <div class="col-4">
        <div class="btn-group">
            <button id = 'Distict-Court'>Distict Court</button>
            <button id = 'Appeals-Court'>Appeals Court</button>
            <button id = 'Confirmation-Time'>Confirmation Time</button>
            <button id = 'Political-Party'>Political Party</button>
            <button id = 'Race'>Race</button>
            
        </div>
  </div>
    <div id="courtbars"></div>
    <p id='text'></p>
</div>

<div class="story-body">

    

        


    
</div>




  