<div class="story-body">
  <p>Northern India states are the most vulnerable states to earthquakes that originate in Afghanistan and Pakistan. These states fall in the seismic zone that makes them unsafe states to live in.</p>

  <p>Data shows that there were more than five hundred earthquakes that were felt in India in 2015. The number of earthquakes has gone down over the years, with around 100 earthquakes recorded in 2018.</p>
  <p> Representation below shows the origins of earthquakes starting from 2016 through 2018. During all four years, the earthquakes, more or less, origingated from same places</p>


  <!-- If you use images, the path is just images/___ -->
  <p style="text-align: right"><img src="images/earthquake.gif"> </p>

  <p> As a means to reduce the human loss in event of a deadly earthquake, the states need a proper plan that is meant to make buildings safe and should prevent high-rise construction and migration of people to those areas.

  </p>

  <p> Northeastern states are also exposed to the possibility of devastating earthquakes. States neighboring Nepal, which saw a destructive earthquake in 2015, are also among the most vulnerable states.</p>

  

</div>