{{!-- <div class = 'dark-theme'></div> --}}
<div class="story-body">
    <p>Salaries of teachers is an important issue in the United States as it ended up getting debated in the third Democratic presidential debate in September.
    </p>
    <p>Although teachers' compensation is decided by state and local governments, the presidential candidates endorsed a raise in educators' pay.</p>
    <p> According to the Bureau of Economic Analysis(BEA) data, people working in the educational services sector, a broad category that includes establishments providing academic or technical instruction, make get paid lesser annually than people working in warehousing. Of the 22 major industry in the BEA data, people working in 14 of those industries make more money than people working in  educational services </p>
    {{!-- <div id="chart-02" class="chart"></div> --}}
<div class="padding-bottom">
    <h2 class="center">Wages and Salaries by Industry in 2018</h2>
    <iframe title="" aria-label="Bar Chart" id="datawrapper-chart-pJTHy" src="//datawrapper.dwcdn.net/pJTHy/3/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="705"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",function(a){if(void 0!==a.data["datawrapper-height"])for(var e in a.data["datawrapper-height"]){var t=document.getElementById("datawrapper-chart-"+e)||document.querySelector("iframe[src*='"+e+"']");t&&(t.style.height=a.data["datawrapper-height"][e]+"px")}})}();</script>
</div>

<p>
    For the past decade, the growth of wages and salaries in educational services never went beyond 5 percent. In fact, the growth during the 2007 financial crash was faster than it is now. 
</p>
<div><h3> See the yearly growth in wages and salaries in educational services industry in different states here </h3> </div>

<div id='vis-container'></div>
</div>


<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="scripts/salaries-dropdown.js"></script>

{{!-- <script src="scripts/salaries-01.js"></script> --}}
