<div class="story-body scrollytelling">
    {{!-- <div id="chart-02" class="chart"></div> --}}
<div>
    <h2 class="center">Wages and Salaries by Industry in 2018</h2>
    <iframe title="" aria-label="Bar Chart" id="datawrapper-chart-pJTHy" src="//datawrapper.dwcdn.net/pJTHy/3/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="705"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",function(a){if(void 0!==a.data["datawrapper-height"])for(var e in a.data["datawrapper-height"]){var t=document.getElementById("datawrapper-chart-"+e)||document.querySelector("iframe[src*='"+e+"']");t&&(t.style.height=a.data["datawrapper-height"][e]+"px")}})}();</script>
</div>
</div>

{{!-- <script src="scripts/salaries-01.js"></script> --}}
