<div class="story-body scrollytelling">
    {{!-- <h2>Salaries across states</h2> --}}
    {{!-- <p>We want it to resize when we make the window larger and smaller</p> --}}
    <div class="center">
    </div>
    <div id="salaries" class="chart"></div>

        <div class="steps">
      <div class='step'>
        <p><strong>Teachers in D.C. relatively get paid more than teachers in other states </strong></p>
        <img src="data/legend.svg"/ height="auto" width="100%">
      </div>
      
      <div class="step" id="indiana-step">
          <p>This is Indiana</p>
      </div>
      <div class="step" id="above-indiana-step">
          <p>States where teachers get paid lesser than Indiana</p>
      </div>

      
    </div>

    {{!-- <p>It isn't too crazy.</p> --}}
</div>

<script src="scripts/salaries.js"></script>
