<div class ='story-body'>
  <p>

        Thousands of teachers in Indiana occupied the streets outside the Statehouse demanding better pay, according to media reports.</p>

        <p>The Indiana State Teachers Association (ISTA) said in a report that it is calling on the state legislature to take action this session on prioritizing public schools and restoring respect for educators. The teachers’ union is pressing for lawmakers to provide a pay increase in teachers’ base salaries. </p>

        <p>“While we await the governor’s teacher compensation commission report, the legislature must act on teacher pay this session,” said ISTA President Keith Gambill. “Indiana’s teacher pay gap with neighboring states will only get bigger if we do nothing this session. Lawmakers should invest $75 million as a down payment to provide an increase to teachers’ base salaries.”</p>

      </p>
      <p> According to the National Education Association's data, the average starting salary for teachers in Indiana was $35,943 and only in 15 states teachers get paid lesser than Indiana. </p>
</div>

<div class="story-body scrollytelling">
    {{!-- <h2>Salaries across states</h2> --}}
    {{!-- <p>We want it to resize when we make the window larger and smaller</p> --}}
    <div class="center">
      </div>
    
    <div id="salaries" class="chart"></div>

        <div class="steps">
      <div class='step'>
        <p><strong>Teachers in D.C. relatively get paid more than teachers in other states </strong></p>
        <img src="data/legend.svg"/ height="auto" width="100%">
      </div>
      
      <div class="step" id="indiana-step">
          <p>This is Indiana where teachers are protesting for a pay hike</p>
      </div>
      <div class="step" id="above-indiana-step">
          <p>States where teachers get paid more than Indiana</p>
      </div>

      
    </div>

    

    {{!-- <p>It isn't too crazy.</p> --}}
</div>

<script src="scripts/salaries.js"></script>
