<div class="story-body">
    <div><p><b> See here state-wise growth in wages and salaries in the educational services industry since 2000. </b></p> </div>

<div id="my_dataviz"></div>
</div>


<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="scripts/salary-dropdown-statewise.js"></script>
