<div class="story-body">
    <p>Wiretapping in the United States is legal but police or intelligence officers need to get approval from a judge before they want to run a wire on someone. </p>

    <p>An analysis of data shows the cost of wiretapping dramatically rose after 2015. It can’t be said for sure that the increase could have been due to elections or increase in external interference, but the data suggests that more wiretapping was done since 2015.</p>

</div>

<div class="story-body">
    <h2> Average cost of wiretapping</h2>
    <div id="wiretap-cost"></div>
</div>

<div class="story-body">
    <p>Applications for wiretapping were mostly concentrated in six states, including California, New York, Nevada, Pennsylvania, Colorado, and New Jersey. California accounted for nearly 25 percent of all the wiretapping approvals. </p>

</div>
<div class="story-body">
    <h2> No. of wiretapping application statewise</h2>
    <div id="wiretap"></div>
</div>

<div class="story-body">
    <p>I wanted to analyze the data and see if it relates to immigration data. The idea came as California, New York are cities with high immigrant population in the United States. At first, it looks that there might be a relation between the two, but if we look at Texas and Colorado, this assumption falls flat. </p>
    <p style="text-align: right"><img src="images/map.png"> </p>
</div>

<div class ="story-body"><p>Most of the wiretaps were done related to narcotics. A few related to racketeering and conspiracy.</p></div>



<script src="scripts/wiretap-cost.js"></script>
<script src="scripts/wiretap.js"></script>