<div class="story-body">

<h3>A weird, fun radial graph </h3>
<p> copying <a href="https://blogs.scientificamerican.com/sa-visual/why-are-so-many-babies-born-around-8-00-a-m/"></a></p>

<div id="chart-7"></div>
</div>
<script type="text/javascript" src="scripts/homework-13/07-mystery.js"></script>