---
headline: "Salary of teachers"
subhead: "Educators in Indiana have been on protest over pay"
published_date: "Nov 25, 2019"
---

{{!< default}}

{{!-- <div class='demo'></div> --}}

{{> story/salaries }}

{{> story/salaries-01 }}

{{!-- {{> story/chart-line }}

{{> story/chart-scatter }}

{{> story/chart-images }}

{{!-- <div class="story-body">
    <h2>This is here to take up space</h2>
    <p>Blah blah blah.</p>
    <p>Blah blah blah.</p>
    <p>Blah blah blah.</p>
    <p>Blah blah blah.</p>
    <p>Blah blah blah.</p>
    <p>Blah blah blah.</p>
    <p>Blah blah blah.</p>
    <p>Blah blah blah.</p>
    <p>Blah blah blah.</p>
</div> --}}

<style>
  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  #chart-1 .axis line {
    stroke: #999;
    stroke-width: 0.5;
    stroke-dasharray: 3 2;
  }

  p small {
    background: #fff880;
  }

  .colored-text {
    padding: 1px 7px;
    display: inline-block;
  }
</style>


<script src="scripts/scrollytelling.js"></script>
<link rel="stylesheet" type="text/css" href="styles/scrollytelling.css">

