---
headline: "The non-lucrative profession of teaching"
subhead: "Educators in Indiana have been on a protest demanding a pay rise. The issue of teachers' salary got debated at the third Democratic presidential debate."
published_date: "October 11, 2019"
site: "http://www.littlecolumns.com"
siteName: "Little Columns"
url: "http://littlecolumns.com/learn/d3-javascript-tooling/"
kicker: "Columbia Journalism School"
author:
    name: "Suhail Bhat"
    url: "https://www.reuters.com/search/news?blob=suhail+hassan+bhat"
    twitterHandle: "@suhbhat"
analytics": ""
---

{{!< default}}

{{!-- <div class='demo'></div> --}}

{{> story/salaries }}

{{> story/salaries-01 }}
{{> story/salaries-02 }}


<div>
    <p class ="story-body"><a href="https://github.com/Suhailhassanbhat/Responsive-Designs-Repo/tree/master/teachers-salaries"> Link to GitHub</a></p>

</div>

<style>
  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  #chart-1 .axis line {
    stroke: #999;
    stroke-width: 0.5;
    stroke-dasharray: 3 2;
  }

  p small {
    background: #fff880;
  }

  .colored-text {
    padding: 1px 7px;
    display: inline-block;
  }
</style>


<script src="scripts/scrollytelling.js"></script>
<link rel="stylesheet" type="text/css" href="styles/scrollytelling.css">

