---
headline: "Long Island's booming housing market"
subhead: "Multiple affordable multifamily housing projects underway in Long Island are likely to stop young adults from leaving the island."
published_date: "March, 2019"
site: "http://www.littlecolumns.com"
siteName: "Little Columns"
url: "http://littlecolumns.com/learn/d3-javascript-tooling/"
author:
    name: "Suhail Bhat"
    url: "https://www.reuters.com/search/news?blob=suhail+hassan+bhat"
    twitterHandle: "@suhbhat"
analytics": ""
---

{{!< default}}

{{!-- <div class='demo'></div> --}}

<div class="story-body" style="text-align: left">
    <p>Long Island is bracing to see multiple affordable housing options in the coming years as several projects of this type have been either approved or are under construction. In 2019, five multifamily housing projects were under construction, one proposed and one completed.       
    </p>
  
    <p>Affordable housing in Nassau and Suffolk counties has seen a boom in the past
    decade, especially picking up pace since 2014. Including the ongoing and proposed
    projects, a third of the affordable housing units since 1970 were added in the past
    decade.
    </p> 

    <p style="text-align: left"><img src="images/housing.png"> </p>


    <p>These cheaper housing options will likely attract low-income families to Long Island and backstop young adults who might be planning to leave the counties to find cheaper housing options in Queens and Brooklyn.</p>
    
    <p>Overall, the housing market in Long Island has been upbeat with a consistent growth in prices.</p>

    <p style="text-align: left"><img src="images/housing.gif"> </p>
    
    <p>During the last five years, the number of projects in Nassau and Suffolk counties together hit a historical high at least since 1970, coming back from 25 years of rather muted growth. Especially, the apartment projects have seen a surge, outpacing condo and cooperative housing construction.</p>

    <p>During the seventies and eighties, most of the multifamily housing projects were located closer to Long Island Railroad stations in Nassau County as it falls closer to New York City. </p>
    
    
    <p>But this trend has changed as more housing projects have come up in the
    downtown area, away from the Long Island Railroad stations.</p>
    
    
    <p>A circle of one mile radius drawn around 124 stations of the railroad shows a host of new projects falling outside, meaning before renting or buying an apartment, one has to figure out the best and the cheapest mode of transportation to New York City.</p>
    
    
    <p> Moreover, the downside to this rise in multifamily housing is the greater need for a sewer system that can handle the pressure of an increased population. It remains to be seen whether Long Island’s sewer system can absorb that extra pressure, especially at a time when there have been growing concerns about the quality of drinking water.</p>


  <!-- If you use images, the path is just images/___ -->

  

</div>


<div>
    <p class ="story-body"><a href="https://github.com/Suhailhassanbhat/Responsive-Designs-Repo/blob/master/LI-Housing"> Link to GitHub</a></p>

</div>

<style>
  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  #chart-1 .axis line {
    stroke: #999;
    stroke-width: 0.5;
    stroke-dasharray: 3 2;
  }

  p small {
    background: #fff880;
  }

  .colored-text {
    padding: 1px 7px;
    display: inline-block;
  }
</style>


<script src="scripts/scrollytelling.js"></script>
<link rel="stylesheet" type="text/css" href="styles/scrollytelling.css">

