{{!< default}}

<div class="dark-theme"> 

<h1 class="headline-text"> Analysis of India's budget speeches</h1>
<div class="story-body">
    <h2 class="subhead-text">India's former finance minister referred to the latest budget speech as 'insipid'. </h2>
</div>
{{!-- <div class='demo'></div> --}}
<div class="dark-theme"> 

<div class="story-body" style="text-align: left">
    <p>India's ruling party Bhartiya Janata Party announced its first budget last week after a landslide victory in the recent national election. The speech delivered by the first woman finance minister Nirmala Sitharam faced criticism from the former finance minister P. Chidambaram who called the speech 'an insipid Budget'. Chidambaram's criticized the current finance minister for not mentioning key accounting numbers in the speech.</p>
  
    <p>"The Finance Minister's speech was an usually opaque exercise....Has there been a Budget speech that does not disclose the total revenue, the total expenditure, the fiscal deficit, the revenue deficit, the additional revenue mobilization or the financial concessions?", he said in his statement on his Twitter account. </p> 

    <p>Analysts on the Primetime debates were divided on the speech with some appreciating the finance minister for not throwing hard numbers out there. Others said announcing numbers upfront in the speech would have made it better.</p>
    
    <p>A text analysis of the speech shows that the latest speech mentioned financial terms such as crore, expenditure, revenue, allocation least number of times in independent India.</p>

    {{!-- <p style="text-align: left"><img src="images/housing.gif"> </p> --}}
    
    <h3> <p class="section-head" style="font-weight: bold">Use of financial terms by various finance ministers </p> </h3>

    <p> The budget speech is important as a lot of people pay attention to it. The final document is long and would need time to go through it.</p>

    <p style="text-align: left"><img src="images/money-terms.png"> </p>

    
    <p>The current Indian government put an ambitious target of $5 trillion in gross domestic product by 2025. It would be easy to cross that milestone according to analysts and economists as it would mean the Indian economy has to grow at 12 percent annually. The word 'trillion' made it to budget speech for the first time in last year's annual budget speech delivered by Arun Jaitley. This year's speech had the word more than 10 times and a section titled $5 trillion Economy.</p>

    <h3> <p class="section-head" style="font-weight: bold">$5 trillion slogan</p></h3>
    
    <p>Catchy phrases and ambition targets are appealing</p>

    <p style="text-align: left"><img src="images/trillion-terms.png"> </p>
    
    <h3> <p class="section-head" style="font-weight: bold">Developmental issues</p></h3>

    <p>Current Indian govt.'s budget speeches show increased use of words such as women, start-ups, health, agriculture.</p>

    <p style="text-align: left"><img src="images/women-terms.png"> </p>
    <p style="text-align: left"><img src="images/start-ups.png"> </p>
    <p style="text-align: left"><img src="images/health-terms.png"> </p>
    <p style="text-align: left"><img src="images/agriculture-terms.png"> </p>


  <!-- If you use images, the path is just images/___ -->

  

</div>



<div>
    <p class ="story-body"><a href="https://github.com/Suhailhassanbhat/Responsive-Designs-Repo/blob/master/LI-Housing"> Link to GitHub</a></p>

</div>

</div>

<style>
  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  #chart-1 .axis line {
    stroke: #999;
    stroke-width: 0.5;
    stroke-dasharray: 3 2;
  }

  p small {
    background: #fff880;
  }

  .colored-text {
    padding: 1px 7px;
    display: inline-block;
  }
</style>


<script src="scripts/scrollytelling.js"></script>
<link rel="stylesheet" type="text/css" href="styles/scrollytelling.css">

